
html{
    height:100%;
}
body{
    background: url(1567666.png);
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#container{
    padding-top: 6%;
    padding-left: 6%;
    
}
#jumbotron{
    padding-top: 20%;
    background-color:rgba(72, 85, 99,.4);
    color: white;
}
#content{
    text-align: center;
    padding-top: 0%;
    
   
}
form{
    padding-left: 10%;
    align-items:center;
    
}
h3{
    text-align: center;
    color:wheat;
}
#login{
    padding-top: 5%;
}
#button{
    
    padding-right: 17%
}
legend{
    color:white
}